
@{
    ViewData["Title"] = "Index";
}

<section id="titleforall">
    <div class="titlecontact">
        <i class="fa-solid fa-house"></i>
        <p>Contact Us</p>
    </div>

</section>


<section id="contact">
    <div class="container paddingfor1">
        <div class="row ">
            <div class="col-lg-4 part1">
                <a href="/home.html"> <img class="" src="/img/logo.png" alt=""></a>


                <h6>Gobazar - Best Online Store</h6>

                <p>184 Lorem Rd, St Ipsum Road PLC 3021, London</p>
                <div class="forp"><a class="nondecaration1" href="">View Google Map</a></div>
                <h6>Telephone</h6>
                <p>+910123456789</p>
                <h6>Fax</h6>
                <p>0123456789</p>
                <h6>Opening Times</h6>
                <p>9:00 AM to 6:00 PM</p>
                <h6>Comments</h6>
                <p>
                    Shop Laptop feature only the best laptop deals on <br> the market. By comparing laptop deals from
                    the <br> likes of PC World, Comet, Dixons, The Link and <br> Carphone Warehouse
                </p>
            </div>
            <div class="col-lg-8">
                <div class="contact-form">
                    
                        <fieldset>
                            <legend>Contact Form</legend>
                            <div class="form-group">
                                <label class=" control-label" for="input-name">Your Name</label>
                                <div>
                                    <input type="text" name="name" value="" id="input-name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" control-label" for="input-email">E-Mail Address</label>
                                <div>
                                    <input type="text" name="email" value="" id="input-email" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-enquiry">Enquiry</label>
                                <div>
                                    <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control"></textarea>
                                </div>
                            </div>
                            <fieldset>
                                <input type="submit" value="Submit" class="btn btn-primary registerbutton">
                </div>
            </div>

        </div>
    </div>
</section>





<section id="map">
    <div class="map">
        <iframe class="map1"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d759.6215434315999!2d49.79126582923543!3d40.39807932004229!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4030876df001a3db%3A0x6dd49887a78f0dd7!2sARMOSTORE!5e0!3m2!1sen!2s!4v1645473225164!5m2!1sen!2s"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

</section>
<section id="button">
    <a class="top_button" title="Back To Top" href="#" style="display: block;"></a>
</section>


