
@{
    ViewData["Title"] = "Index";
}

<section id="titleforall">
    <div class="titlecontact">
        <i class="fa-solid fa-house"></i>
        <p>Brands</p>
    </div>

</section>


<section id="left">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="forborder">
                    <h5>Information</h5>
                    <a href="">
                        <p>About us</p>
                    </a>
                    <a href="">
                        <p>Delivery Information </p>
                    </a>
                    <a href="">
                        <p>Privacy Policy </p>
                    </a>
                    <a href="">
                        <p>Terms & Conditions </p>
                    </a>
                    <a href="">
                        <p>Contact Us </p>
                    </a>
                </div>

                <img class="reklamucun" src="/img/left-banner-315x460 (1).jpg" alt="">


                <div class="forborder">
                    <h5>Latest</h5>

                    <div class="d-flex forhoverimage">
                        <a href="">
                            <div class="imgg">

                            </div>
                            <div class="latest">
                                MacBook Pro (Retina, 15-inch, 8-Core CPU)
                                <div class="d-flex">
                                    <p class="latestp1">$26.00</p>
                                    <p class="latestp2">$241.99</p>
                                </div>
                            </div>

                        </a>

                    </div>
                    <div class="d-flex forhoverimage">
                        <a href="">
                            <div class="imgg">

                            </div>
                            <div class="latest">
                                MacBook Pro (Retina, 15-inch, 8-Core CPU)
                                <div class="d-flex">
                                    <p class="latestp1">$26.00</p>
                                    <p class="latestp2">$241.99</p>
                                </div>
                            </div>

                        </a>

                    </div>
                    <div class="d-flex forhoverimage">
                        <a href="">

                            <div class="imgg">

                            </div>
                            <div class="latest">
                                MacBook Pro (Retina, 15-inch, 8-Core CPU)
                                <div class="d-flex">
                                    <p class="latestp1">$26.00</p>
                                    <p class="latestp2">$241.99</p>
                                </div>
                            </div>

                        </a>

                    </div>


                </div>

            </div>
            <div class="col-lg-8 formarginbrands">
                <h5>Find Your Favorite Brand</h5>

                <div class="forbrands">
                    <h6>A</h6>
                    <a href="">
                        <p>Apple</p>
                    </a>
                    <a href="">
                        <p>Asus</p>
                    </a>
                    <a href="">
                        <p>Acer</p>
                    </a>
                </div>


                <div class="forbrands">
                    <h6>C</h6>
                    <a href="">
                        <p>Canon</p>
                    </a>

                </div>


                <div class="forbrands">
                    <h6>D</h6>
                    <a href="">
                        <p>Dell</p>
                    </a>
                    <a href="">
                        <p>Dr.Dre</p>
                    </a>
                </div>


                <div class="forbrands">
                    <h6>H</h6>
                    <a href="">
                        <p>Hisense</p>
                    </a>
                    <a href="">
                        <p>Huavei</p>
                    </a>
                    <a href="">
                        <p>HP</p>
                    </a>
                </div>
                <div class="forbrands">
                    <h6>S</h6>
                    <a href="">
                        <p>Samsung</p>
                    </a>
                    <a href="">
                        <p>Sony</p>
                    </a>
                </div>
                <div class="forbrands">
                    <h6>T</h6>
                    <a href="">
                        <p>TCL</p>
                    </a>

                </div>
                <div class="forbrands">
                    <h6>L</h6>
                    <a href="">
                        <p>Lenovo</p>
                    </a>
                    <a href="">
                        <p>LG</p>
                    </a>
                </div>
                <div class="forbrands">
                    <h6>O</h6>
                    <a href="">
                        <p>OnePlus</p>
                    </a>
                    <a href="">
                        <p>OPPO</p>
                    </a>
                </div>
                <div class="forbrands">
                    <h6>N</h6>
                    <a href="">
                        <p>Nokia</p>
                    </a>
                    <a href="">
                        <p>Nikon</p>
                    </a>
                    <a href="">
                        <p>Nintendo</p>
                    </a>
                </div>
                <div class="forbrands">
                    <h6>M</h6>
                    <a href="">
                        <p>MSI</p>
                    </a>

                </div>
                <div class="forbrands">
                    <h6>F</h6>
                    <a href="">
                        <p>Fujifilm</p>
                    </a>
                    <a href="">
                        <p>Fijutsu</p>
                    </a>

                </div>
                <div class="forbrands">
                    <h6>J</h6>
                    <a href="">
                        <p>JBL</p>
                    </a>


                </div>
                <div class="forbrands">
                    <h6>P</h6>
                    <a href="">
                        <p>PlayStation</p>
                    </a>
                    <a href="">
                        <p>Ponosinic</p>
                    </a>
                </div>
                <div class="forbrands">
                    <h6>X</h6>
                    <a href="">
                        <p>Xbox</p>
                    </a>
                    <a href="">
                        <p>Xiaomi</p>
                    </a>

                </div>
                <div class="forbrands">
                    <h6>X</h6>
                    <a href="">
                        <p>Xbox</p>
                    </a>

                </div>
                <div class="forbrands">
                    <h6>G</h6>
                    <a href="">
                        <p>Go Pro</p>
                    </a>

                </div>
            </div>

        </div>
    </div>
</section>

<section id="button">
    <a class="top_button" title="Back To Top" href="#"></a>
</section>






<footer>
    <div class="forcolor">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 b2">
                    <i class="fa-solid fa-plane"></i>
                    <span>Sign Up For Newslatter</span>
                </div>
                <div class="col-lg-6 d-flex">
                    <input type="email" name="txtemail" id="txtemail" value="" placeholder="Enter Your Email"
                           class="form-control input-lg" />
                    <button class="b1">Subscribe</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container forpend">
        <div class="row">
            <div class="col-lg-3 s1">
                <img class="s1" src="img/logo.png" alt="">
                <h5>(+00) 012 345 67 89</h5>
                <div class="d-flex">
                    <i class="fa-solid fa-location-dot fa-solids1"></i>
                    <p>
                        Demo Store
                        United States
                    </p>
                </div>
                <div class="d-flex">
                    <i class="fa-solid fa-phone fa-solids1"></i>
                    <p>+1 3235551234</p>
                </div>
                <div class="d-flex">
                    <i class="fa-solid fa-comment-dots fa-solids1"></i>
                    <p>demo@gmail.com
                </div>
            </div>
            <div class="col-lg-3 s2 ">
                <h5>My Account</h5>
                <a href="">
                    <p>My Account</p>
                </a>
                <a href="">
                    <p>Order History</p>
                </a>
                <a href="">
                    <p>Wish List</p>
                </a>
                <a href="">
                    <p>Affiliates</p>
                </a>
                <a href="">
                    <p>Newsletter</p>
                </a>
            </div>
            <div class="col-lg-3 s2 ">
                <h5>Customer Service</h5>
                <a href="">
                    <p>Contact Us</p>
                </a>
                <a href="">
                    <p>Site Map</p>
                </a>
                <a href="">
                    <p>Order History</p>
                </a>
                <a href="">
                    <p>Newsletter</p>
                </a>
                <a href="">
                    <p>Gift Certificates</p>
                </a>
            </div>
            <div class="col-lg-3 s2 ">
                <h5>Information</h5>
                <a href="">
                    <p>About Us</p>
                </a>
                <a href="">
                    <p>Delivery Information</p>
                </a>
                <a href="">
                    <p>Aprivacy Policy</p>
                </a>
                <a href="">
                    <p>Contact Us</p>
                </a>
                <a href="">
                    <p>Terms & Conditions</p>
                </a>
            </div>


            <div class="foricons1">
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
            </div>

        </div>
    </div>
    <div class="v1">
        <div class="container forpaddingv">
            <div class="row">
                <div class="col-lg-6 v2">
                    <p>Powered By OpenCart Gobazar - Best Online Store © 2022</p>
                </div>
                <div class="col-lg-6 v3">
                    <a href=""> <img src="img/visa.jpg" alt=""></a>
                    <a href=""> <img src="img/discover.jpg" alt=""></a>
                    <a href=""> <img src="img/payment.jpg" alt=""></a>
                    <a href=""> <img src="img/paypal.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>



