
@{
    ViewData["Title"] = "Blogdetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="left">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="forborder">
                    <h5>Information</h5>
                    <a href="">
                        <p>About us</p>
                    </a>
                    <a href="">
                        <p>Delivery Information </p>
                    </a>
                    <a href="">
                        <p>Privacy Policy </p>
                    </a>
                    <a href="">
                        <p>Terms & Conditions </p>
                    </a>
                    <a href="">
                        <p>Contact Us </p>
                    </a>
                </div>

                <img class="reklamucun" src="~/img/left-banner-315x460 (1).jpg" alt="">
                <div class="forborder">
                    <h5>Latest</h5>

                    <div class="d-flex forhoverimage">
                        <a href="">
                            <div class="imgg">

                            </div>
                            <div class="latest">
                                MacBook Pro (Retina, 15-inch, 8-Core CPU)
                                <div class="d-flex">
                                    <p class="latestp1">$26.00</p>
                                    <p class="latestp2">$241.99</p>
                                </div>
                            </div>

                        </a>

                    </div>
                    <div class="d-flex forhoverimage">
                        <a href="">
                            <div class="imgg">

                            </div>
                            <div class="latest">
                                MacBook Pro (Retina, 15-inch, 8-Core CPU)
                                <div class="d-flex">
                                    <p class="latestp1">$26.00</p>
                                    <p class="latestp2">$241.99</p>
                                </div>
                            </div>

                        </a>

                    </div>
                    <div class="d-flex forhoverimage">
                        <a href="">

                            <div class="imgg">

                            </div>
                            <div class="latest">
                                MacBook Pro (Retina, 15-inch, 8-Core CPU)
                                <div class="d-flex">
                                    <p class="latestp1">$26.00</p>
                                    <p class="latestp2">$241.99</p>
                                </div>
                            </div>

                        </a>

                    </div>


                </div>


            </div>
            <div class="col-lg-8 forimagetop5">
                <div class="q3">
                    <h5>Libero lorem vehicula qunato verbl</h5>
                    <img src="~/img/blog5-885x574.jpg" alt="">
                    <p class="marginpreadmore">
                        Libero lorem vehicula qunato verbl Libero lorem vehicula qunato verbl Libero lorem vehicula
                        qunato verbl
                    </p>
                    <h5>Add Comment</h5>
                    <div class="col-sm-8">
                        <input type="text" name="author" value="" id="input-author" placeholder="Author"
                               class="form-control">

                    </div>
                    <div class="form-group required" style="margin-top: 10px;">
                        <div class="col-sm-8">
                            <input type="text" name="email" value="" id="input-email" placeholder="E-Mail Address"
                                   class="form-control">

                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 10px;">
                        <div class="col-sm-8">
                            <textarea name="comment" rows="10" id="input-comment" placeholder="Comment"
                                      class="form-control commentstyle"></textarea>

                        </div>
                    </div>
                    <a class="forsupmitbutton" href="">
                        <p>
                            submit
                        </p>
                    </a>
                </div>







            </div>

        </div>
    </div>

    </div>
    </div>

</section>
<section id="button">
    <a class="top_button" title="Back To Top" href="#" style="display: block;"></a>
</section>


