@{
    ViewData["Title"] = "Home Page";
}

<section id="slider">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/Main-banner-1-1903x520.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="img/Main-banner-2-1903x520.jpg" class="d-block w-100" alt="...">
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
        </button>
    </div>
</section>

<section id="icons">
    <div class="container forpadding ">
        <div class="row forcenter">
            <div class="col-md-3 ">
                <div><i class="fa-solid fa-bus icons1"></i></div>
                <div>
                    <h5>Easy to buy & return</h5>
                    <p>Single click to buy & return</p>
                </div>
            </div>
            <div class="col-md-3  ">
                <div><i class="fa-solid fa-credit-card icons1"></i></div>
                <div>
                    <h5>Secure Payments</h5>
                    <p>100% payment security</p>
                </div>
            </div>
            <div class="col-md-3">
                <div><i class="fa-solid fa-headphones icons1"></i></div>
                <div>
                    <h5>24x7 Support Available</h5>
                    <p>support 24 hours a day</p>
                </div>
            </div>
            <div class="col-md-3  ">
                <div><i class="fa-solid fa-mobile icons1 "></i></i></div>
                <div>
                    <h5>Shop with our App</h5>
                    <p>Download app & get offers</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="cta-main-homepage">
    <div class="container xiomiair">
        <div class="row midotspadding">
            <div class="col-lg-5 col-sm-8 offset-sm-2 offset-lg-0">
                <div class="inner-content">
                    <span class="banner">Flash Deal!</span>
                    <h4>Xiaomi Mi Dots</h4>
                    <div class="counter">
                        <h6 class="price">
                            <em>$49.99</em>
                            <br> $39.99
                        </h6>
                        <div class="row">
                            <div class="timer">
                                <div class="col-3">
                                    <div id="days"></div>
                                    <span>Days</span>
                                </div>
                                <div class="col-3">
                                    <div id="hours"></div>
                                    <span>Hours</span>
                                </div>
                                <div class="col-3">
                                    <div id="minutes"></div>
                                    <span>Minutes</span>
                                </div>
                                <div class="col-3">
                                    <div id="seconds"></div>
                                    <span>Seconds</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-dark-button">
                        <a href="#">Get It Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="newirrevilitem">
    <div class="container">
        <div class="row news">
            <div class="col-lg-12">
                <div class="col-lg-12  arrivel">
                    <h5>New Arrival Item</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-6 specialsimage">
                <div class="card">
                    <img src="/img/OIP.jfif" alt="">
                    <span class="specialspan">50%</span>
                    <div class="card-body">
                        <h6 class="card-title">Fitbit Versa Lite Edition Smart Watch (White) </h6>
                        <div class="d-flex">
                            <h5 class="latestp1">$26.00</h5>
                            <p class="latestp2">$241.99</p>
                        </div>
                        <i class="fa-solid fa-cart-shopping c1"></i>
                        <a href="#" class="btn btn-primary foradd">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-md-4 col-6  specialsimage">
                <div class="card">
                    <img src="/img/OIP.jfif" alt="">
                    <span class="specialspan">50%</span>
                    <div class="card-body">
                        <h6 class="card-title">Fitbit Versa Lite Edition Smart Watch (White) </h6>
                        <div class="d-flex">
                            <h5 class="latestp1">$26.00</h5>
                            <p class="latestp2">$241.99</p>
                        </div>
                        <i class="fa-solid fa-cart-shopping c1"></i>
                        <a href="#" class="btn btn-primary foradd">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-md-4 col-6  specialsimage">
                <div class="card">
                    <img src="/img/OIP.jfif" alt="">

                    <div class="card-body">
                        <h6 class="card-title">Fitbit Versa Lite Edition Smart Watch (White) </h6>
                        <div class="d-flex">
                            <h5 class="latestp1">$26.00</h5>

                        </div>
                        <i class="fa-solid fa-cart-shopping c1"></i>
                        <a href="#" class="btn btn-primary foradd">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-md-4 col-6  specialsimage">
                <div class="card">
                    <img src="/img/OIP.jfif" alt="">

                    <div class="card-body">
                        <h6 class="card-title">Fitbit Versa Lite Edition Smart Watch (White) </h6>
                        <div class="d-flex">
                            <h5 class="latestp1">$26.00</h5>

                        </div>
                        <i class="fa-solid fa-cart-shopping c1"></i>
                        <a href="#" class="btn btn-primary foradd">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<section id="loudspekar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="kalonkashadov">
                    <img class="forrelatitve1 img-fluid" src="img/SubBanner-01.jpg" alt="">

                </div>

            </div>
        </div>
    </div>
</section>

<section id="newirrevilitem">
    <div class="container">
        <div class="row news">
            <div class="col-lg-12">
                <div class="col-lg-12  arrivel">
                    <h5>
                        Product By Category
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-lg-3  col-md-4 col-6  specialsimage">
                <div class="card">
                    <img src="/img/OIP.jfif" alt="">
                    <span class="specialspan">50%</span>
                    <div class="card-body">
                        <h6 class="card-title">Fitbit Versa Lite Edition Smart Watch (White) </h6>
                        <div class="d-flex">
                            <h5 class="latestp1">$26.00</h5>
                            <p class="latestp2">$241.99</p>
                        </div>
                        <i class="fa-solid fa-cart-shopping c1"></i>
                        <a href="#" class="btn btn-primary foradd">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-lg-3  col-md-4 col-6  specialsimage">
                <div class="card">
                    <img src="/img/OIP.jfif" alt="">
                    <span class="specialspan">50%</span>
                    <div class="card-body">
                        <h6 class="card-title">Fitbit Versa Lite Edition Smart Watch (White) </h6>
                        <div class="d-flex">
                            <h5 class="latestp1">$26.00</h5>
                            <p class="latestp2">$241.99</p>
                        </div>
                        <i class="fa-solid fa-cart-shopping c1"></i>
                        <a href="#" class="btn btn-primary foradd">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-lg-3  col-md-4 col-6  specialsimage">
                <div class="card">
                    <img src="/img/OIP.jfif" alt="">

                    <div class="card-body">
                        <h6 class="card-title">Fitbit Versa Lite Edition Smart Watch (White) </h6>
                        <div class="d-flex">
                            <h5 class="latestp1">$26.00</h5>

                        </div>
                        <i class="fa-solid fa-cart-shopping c1"></i>
                        <a href="#" class="btn btn-primary foradd">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-lg-3  col-md-4 col-6  specialsimage">
                <div class="card">
                    <img src="/img/OIP.jfif" alt="">

                    <div class="card-body">
                        <h6 class="card-title">Fitbit Versa Lite Edition Smart Watch (White) </h6>
                        <div class="d-flex">
                            <h5 class="latestp1">$26.00</h5>

                        </div>
                        <i class="fa-solid fa-cart-shopping c1"></i>
                        <a href="#" class="btn btn-primary foradd">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="salefor">
    <div class="container p1">
        <div class="row a1">
            <div class="col-lg-6 f1">
                <div class="q1">
                    <img class="forrelatitve img-fluid " src="img/bottombanner-01.jpg" alt="">
                    <div class="img-3">
                        <h6>Get Extra 15% Discount on</h6>
                        <h3>Smart Headsets</h3>
                        <a href="">
                            <p>Shop Now</p>
                        </a>
                    </div>

                </div>

            </div>
            <div class="col-lg-6 f1 ">
                <div class="q1">
                    <img class="forrelatitve img-fluid " src="img/bottombanner-02.jpg" alt="">
                    <div class="img-3">
                        <h6>GLimited offer for Tablets</h6>
                        <h3>Get Extra $10</h3>
                        <a href="">
                            <p>Shop Now</p>
                        </a>
                    </div>

                </div>

            </div>


        </div>


    </div>
</section>


<section id="newirrevilitem">
    <div class="container">
        <div class="row news">
            <div class="col-lg-12">
                <div class="col-lg-12  arrivel">
                    <h5>Specials</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3   col-md-4 col-6  specialsimage">
                <div class="card">
                    <img src="/img/OIP.jfif" alt="">
                    <span class="specialspan">50%</span>
                    <div class="card-body">
                        <h6 class="card-title">Fitbit Versa Lite Edition Smart Watch (White) </h6>
                        <div class="d-flex">
                            <h5 class="latestp1">$26.00</h5>
                            <p class="latestp2">$241.99</p>
                        </div>
                        <i class="fa-solid fa-cart-shopping c1"></i>
                        <a href="#" class="btn btn-primary foradd">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3   col-md-4 col-6  specialsimage">
                <div class="card">
                    <img src="/img/OIP.jfif" alt="">
                    <span class="specialspan">50%</span>
                    <div class="card-body">
                        <h6 class="card-title">Fitbit Versa Lite Edition Smart Watch (White) </h6>
                        <div class="d-flex">
                            <h5 class="latestp1">$26.00</h5>
                            <p class="latestp2">$241.99</p>
                        </div>
                        <i class="fa-solid fa-cart-shopping c1"></i>
                        <a href="#" class="btn btn-primary foradd">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-md-4 col-6  specialsimage">
                <div class="card">
                    <img src="/img/OIP.jfif" alt="">
                    <span class="specialspan">50%</span>

                    <div class="card-body">
                        <h6 class="card-title">Fitbit Versa Lite Edition Smart Watch (White) </h6>
                        <div class="d-flex">
                            <h5 class="latestp1">$26.00</h5>
                            <p class="latestp2">$241.99</p>

                        </div>
                        <i class="fa-solid fa-cart-shopping c1"></i>
                        <a href="#" class="btn btn-primary foradd">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-md-4 col-6  specialsimage">
                <div class="card">
                    <img src="/img/OIP.jfif" alt="">
                    <span class="specialspan">50%</span>

                    <div class="card-body">
                        <h6 class="card-title">Fitbit Versa Lite Edition Smart Watch (White) </h6>
                        <div class="d-flex">
                            <h5 class="latestp1">$26.00</h5>
                            <p class="latestp2">$241.99</p>

                        </div>
                        <i class="fa-solid fa-cart-shopping c1"></i>
                        <a href="#" class="btn btn-primary foradd">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="blogs">
    <div class="container ">
        <div class="row ">
            <div class="col-lg-12  arrivel1">
                <h5>Blogs</h5>
            </div>
            <div class="owl-blog owl-carousel owl-theme container">
                <div class="item">
                    <div class="col-lg-12 forimagetop5">
                        <div class="q3">
                            <img src="img/blog5-885x574.jpg" alt="">
                            <a href="">
                                <h5>Libero lorem vehicula qunato verbl</h5>
                            </a>
                            <div class="d-flex bgcolor">
                                <i class="fa-solid fa-calendar"></i>
                                <p>25 August, 2021</p>
                            </div>
                            <p>
                                Libero lorem vehicula qunato verbl Libero lorem vehicula qunato <br> verbl Libero
                                lorem
                                vehicula
                                qunato verb
                            </p>
                            <a class="backcolorfora"asp-controller="Blog" asp-action="Blogdetails">
                                <p>
                                    Read More
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-12 forimagetop5">
                        <div class="q3">
                            <img src="img/blog5-885x574.jpg" alt="">
                            <a href="">
                                <h5>Libero lorem vehicula qunato verbl</h5>
                            </a>
                            <div class="d-flex bgcolor">
                                <i class="fa-solid fa-calendar"></i>
                                <p>25 August, 2021</p>
                            </div>
                            <p>
                                Libero lorem vehicula qunato verbl Libero lorem vehicula qunato <br> verbl Libero
                                lorem
                                vehicula
                                qunato verb
                            </p>
                            <a class="backcolorfora"asp-controller="Blog" asp-action="Blogdetails">
                                <p>
                                    Read More
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-12 forimagetop5">
                        <div class="q3">
                            <img src="img/blog5-885x574.jpg" alt="">
                            <a href="">
                                <h5>Libero lorem vehicula qunato verbl</h5>
                            </a>
                            <div class="d-flex bgcolor">
                                <i class="fa-solid fa-calendar"></i>
                                <p>25 August, 2021</p>
                            </div>
                            <p>
                                Libero lorem vehicula qunato verbl Libero lorem vehicula qunato <br> verbl Libero
                                lorem
                                vehicula
                                qunato verb
                            </p>
                            <a class="backcolorfora"asp-controller="Blog" asp-action="Blogdetails">
                                <p>
                                    Read More
                                </p>
                            </a>
                        </div>


                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-12 forimagetop5">
                        <div class="q3">
                            <img src="img/blog5-885x574.jpg" alt="">
                            <a href="">
                                <h5>Libero lorem vehicula qunato verbl</h5>
                            </a>
                            <div class="d-flex bgcolor">
                                <i class="fa-solid fa-calendar"></i>
                                <p>25 August, 2021</p>
                            </div>
                            <p>
                                Libero lorem vehicula qunato verbl Libero lorem vehicula qunato <br> verbl Libero
                                lorem
                                vehicula
                                qunato verb
                            </p>
                            <a class="backcolorfora"asp-controller="Blog" asp-action="Blogdetails">
                                <p>
                                    Read More
                                </p>
                            </a>
                        </div>


                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-12 forimagetop5">
                        <div class="q3">
                            <img src="img/blog5-885x574.jpg" alt="">
                            <a href="">
                                <h5>Libero lorem vehicula qunato verbl</h5>
                            </a>
                            <div class="d-flex bgcolor">
                                <i class="fa-solid fa-calendar"></i>
                                <p>25 August, 2021</p>
                            </div>
                            <p>
                                Libero lorem vehicula qunato verbl Libero lorem vehicula qunato <br> verbl Libero
                                lorem
                                vehicula
                                qunato verb
                            </p>
                            <a class="backcolorfora"asp-controller="Blog" asp-action="Blogdetails">
                                <p>
                                    Read More
                                </p>
                            </a>
                        </div>


                    </div>
                </div>


            </div>




        </div>
    </div>

</section>





<section id="brands">
    <div class="container ">
        <div class="row ">
            <div class="col-lg-12 arrivel1">
                <h5>Brands</h5>
            </div>

        </div>
    </div>


    <div class="owl-carousel owl-theme container">
        <div class="item ">
            <a href="">
                <img src="img/applesmartt.png" alt="">
            </a>
        </div>
        <div class="item ">
            <a href="">
                <img src="img/logosamsung.jpg" alt="">
            </a>
        </div>
        <div class="item ">
            <a href="">
                <img src="img/huaveylogo3.jpg" alt="">
            </a>

        </div>
        <div class="item ">
            <a href="">
                <img src="img/xiomismorort.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="">
                <img src="img/acer-logo.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="">
                <img src="img/asus-logo.jpg" alt="">
            </a>

        </div>
        <div class="item">
            <a href="">
                <img src="img/Oneplus.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="">
                <img src="img/nokialogo.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="">
                <img src="img/Oppologo.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="">
                <img src="img/canon-logo.png" alt="">
            </a>
        </div>
        <div class="item">
            <a href="">
                <img src="img/Nikon.png" alt="">
            </a>
        </div>

    </div>
</section>
<section id="button">
    <a class="top_button" title="Back To Top" href="#"></a>
</section>