
@{
    ViewData["Title"] = "Index";
}

<section id="titleforall">
    <div class="titlecontact">
        <i class="fa-solid fa-house"></i>
        <p>Specials</p>
    </div>

</section>


<section id="left">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="forborder">
                    <h5>Information</h5>
                    <a href="">
                        <p>About us</p>
                    </a>
                    <a href="">
                        <p>Delivery Information </p>
                    </a>
                    <a href="">
                        <p>Privacy Policy </p>
                    </a>
                    <a href="">
                        <p>Terms & Conditions </p>
                    </a>
                    <a href="">
                        <p>Contact Us </p>
                    </a>
                </div>

                <img class="reklamucun" src="/img/left-banner-315x460 (1).jpg" alt="">
                <div class="forborder">
                    <h5>Latest</h5>

                    <div class="d-flex forhoverimage">
                        <a href="">
                            <div class="imgg">

                            </div>
                            <div class="latest">
                                MacBook Pro (Retina, 15-inch, 8-Core CPU)
                                <div class="d-flex">
                                    <p class="latestp1">$26.00</p>
                                    <p class="latestp2">$241.99</p>
                                </div>
                            </div>

                        </a>

                    </div>
                    <div class="d-flex forhoverimage">
                        <a href="">
                            <div class="imgg">

                            </div>
                            <div class="latest">
                                MacBook Pro (Retina, 15-inch, 8-Core CPU)
                                <div class="d-flex">
                                    <p class="latestp1">$26.00</p>
                                    <p class="latestp2">$241.99</p>
                                </div>
                            </div>

                        </a>

                    </div>
                    <div class="d-flex forhoverimage">
                        <a href="">

                            <div class="imgg">

                            </div>
                            <div class="latest">
                                MacBook Pro (Retina, 15-inch, 8-Core CPU)
                                <div class="d-flex">
                                    <p class="latestp1">$26.00</p>
                                    <p class="latestp2">$241.99</p>
                                </div>
                            </div>

                        </a>

                    </div>


                </div>

            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4   col-md-4 col-6  specialsimage">
                                <div class="card">
                                    <img src="/img/OIP.jfif" alt="">
                                    <span class="specialspan">50%</span>
                                    <div class="card-body">
                                        <h6 class="card-title">Fitbit Versa Lite Edition Smart Watch (White) </h6>
                                        <div class="d-flex">
                                            <h5 class="latestp1">$26.00</h5>
                                            <p class="latestp2">$241.99</p>
                                        </div>
                                        <i class="fa-solid fa-cart-shopping c1"></i>
                                        <a href="#" class="btn btn-primary foradd">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4   col-md-4 col-6  specialsimage">
                                <div class="card">
                                    <img src="/img/OIP.jfif" alt="">
                                    <span class="specialspan">50%</span>
                                    <div class="card-body">
                                        <h6 class="card-title">Fitbit Versa Lite Edition Smart Watch (White) </h6>
                                        <div class="d-flex">
                                            <h5 class="latestp1">$26.00</h5>
                                            <p class="latestp2">$241.99</p>
                                        </div>
                                        <i class="fa-solid fa-cart-shopping c1"></i>
                                        <a href="#" class="btn btn-primary foradd">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4  col-md-4 col-6  specialsimage">
                                <div class="card">
                                    <img src="/img/OIP.jfif" alt="">
                                    <span class="specialspan">50%</span>

                                    <div class="card-body">
                                        <h6 class="card-title">Fitbit Versa Lite Edition Smart Watch (White) </h6>
                                        <div class="d-flex">
                                            <h5 class="latestp1">$26.00</h5>
                                            <p class="latestp2">$241.99</p>

                                        </div>
                                        <i class="fa-solid fa-cart-shopping c1"></i>
                                        <a href="#" class="btn btn-primary foradd">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4  col-md-4 col-6  specialsimage">
                                <div class="card">
                                    <img src="/img/OIP.jfif" alt="">
                                    <span class="specialspan">50%</span>

                                    <div class="card-body">
                                        <h6 class="card-title">Fitbit Versa Lite Edition Smart Watch (White) </h6>
                                        <div class="d-flex">
                                            <h5 class="latestp1">$26.00</h5>
                                            <p class="latestp2">$241.99</p>

                                        </div>
                                        <i class="fa-solid fa-cart-shopping c1"></i>
                                        <a href="#" class="btn btn-primary foradd">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>


    </div>
</section>


<section id="button">
    <a class="top_button" title="Back To Top" href="#" style="display: block;"></a>
</section>


